<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="buy.html">
    <link rel="stylesheet" href="carform.html">
<style>
      body{
            background-image:url(../static/images/bugattii.jpg);
            background-repeat: no-repeat;
            background-size: 100%;
        }
        button{
            margin-left: 20px;
            border-radius: 20px;
            border-color: black;
            background-color: rgb(240, 249, 249);
            padding: 10px;
        }
</style>
</head>
<body>
    <p>
    
    <a href="/buy">
        <button type="submit">Buy car</button>
    </a>
    <a href="/carform">
        <button type="submit">car form</button>
    </a></p>
</body>
</html>